--trusted-host arti.hpc.amslabs.hpecorp.net
--trusted-host artifactory.algol60.net
--index-url https://arti.hpc.amslabs.hpecorp.net:443/artifactory/api/pypi/pypi-remote/simple
--extra-index-url http://artifactory.algol60.net/artifactory/csm-python-modules/simple
--extra-index-url https://arti.hpc.amslabs.hpecorp.net/artifactory/internal-pip-master-local
-c constraints.txt
apispec
etcd3
etcd3-model
Flask
Flask-RESTful
flask-restful-swagger-2
flask-swagger-ui
flask-marshmallow
gunicorn
kubernetes
httpproblem
marshmallow
PyYAML
shell
urllib3
